<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

    <meta name= "description" content="Book your next holiday by the Mediterranean sea in Southern France. Meet a friendly family and get their tips to plan the perfect trip!">

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Facebook -->
    <meta property="og:title" content="Tamaris Holidays" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.tamaris-holidays.com/" />
    <meta property="og:image" content="http://tamaris-holidays.com/pics/chillin.jpg" />
    <meta property="og:description" content="Book your next holiday by the Mediterranean sea in Southern France. Meet a friendly family and get their tips to plan the perfect trip!" />
    <meta property="og:site_name" content="Tamaris: Holidays by the Sea in Southern France" />
    <meta property="fb:admins" content="Facebook numeric ID" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@benantier">
    <meta name="twitter:title" content="Tamaris - Holidays by the Sea - France Mediterranean">
    <meta name="twitter:description" content="Book your next holiday by the Mediterranean sea in Southern France. Meet a friendly family and get their tips to plan the perfect trip!">
    <meta name="twitter:creator" content="@benantier">
    <meta name="twitter:image:src" content="http://www.tamaris-holidays.com/pics/chillin.jpg">

    <!-- Goole + & Pinterest -->
    <meta itemprop="name" content="Tamaris - Holidays by the Sea - France Mediterranean">
    <meta itemprop="description" content="Book your next holiday by the Mediterranean sea in Southern France. Meet a friendly family and get their tips to plan the perfect trip!">
    <!-- Facebook image must be at least 600x315px -->
    <meta itemprop="image" content="http://www.tamaris-holidays.com/pics/chillin.jpg">

    <!-- Google Authorship -->
    <link rel="author" href="https://plus.google.com/109839712885893843013/posts"/>
    <link rel="publisher" href="https://plus.google.com/109839712885893843013"/>

  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Tamaris Holidays
          </a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="directions.html">Directions</a></li>
            <li><a href="picturese.html">Pictures</a></li>
            <li><a href="activities.html">Activities</a></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plan your trip <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Calendar</a></li>
                <li><a href="getting-there.html">Directions</a></li>
                <li><a href="#">Activities</a></li>
              </ul>-->
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    {{ content }}


    <div id="footer">
      <div class="container">
        <div class="row text-center">
        
          <div class="col-xs-2">
            <p> Brought to you by the Antier crew </p>
          </div>
        
          <div class="col-xs-8">
            <img src="pics/mom.JPG" width="80" class="img-circle">
            <img src="pics/dad.jpg" width="80" height="80" class="img-circle">
            <img src="pics/ju.jpg" width="80" class="img-circle">
            <img src="pics/ben.jpg" width="80" class="img-circle">
            <img src="pics/cam.jpeg" width="80" class="img-circle">
          </div>

          <div class="col-xs-2">
            <a href="#"> <p>Contact us <i class="fa fa-envelope"></i></p> </a>
          </div>
        </div>
      </div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55551276-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>